body {
  background: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
.logo {
  border-radius: 100%;
}
hr {
  height: 1px;
  background-color: black;
}
.navbar ul {
  display: flex;
  background-color: #272424;
  border: 10px solid #272424;
  gap: 25px;
  padding: 0;
}
.navbar li {
  display: inline;
  color: white;
  font-size: large;
}
.navbar li:hover {
  background-color: red;
}
.navbar a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.raw1,
.raw2,
.raw3 {
  text-align: left;
  font-weight: bold;
}
.style {
  list-style-type: square;
}
span {
  color: red;
}
.productData {
  background-color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  border: groove;
  border-color: darkblue;
  padding: 3px;
  font-size: large;
}
footer {
  text-align: center;
  font-style: oblique;
}
.final {
  color: black;
  text-decoration: none;
}
